@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
    min-width: 320px;
}
body * {
    box-sizing:border-box;
    font-size: 1.6rem;
    font-family: 'Syne', sans-serif;
}
main{
    background-color: #ece2da;
}
h1{
    font-size: 3.8rem;
    font-weight: 800;
    color: #3b8e46;
    padding: 7rem;
}
h2{
    font-size: 3.8rem;
    color: #d2776a;
    font-weight: 800;
}
h3{
    font-size: 3rem;
    color: #3b8e46;
    font-weight: bold;
}
h4{
    font-size: 2rem;
    font-weight: bold; 
}

/* header & navbar */
#header, #branding, #menu, #menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header {
    min-height: 8rem;
    padding-left: 1vw;
    font-size: 1.9rem;
    background-color: #fff;
}
/* logo et message de description */
#branding {
    width: 30%;
}
#site-title {
    padding-left: 1rem;
    padding-right: 1rem;
}
.custom-logo {
    width: 20vw;
    height: auto;
}
#site-description { /*slogan Energy drink */
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Baskervville', serif;
}
/* menu de navigation */
.menu-item a {
    text-decoration: none;
    color: #333333;
    padding: 0 0.5rem;
    outline: none;
    transition: all 0.3s ease;
}
.menu-item a:hover{
    font-weight: bold;
    transition: all 0.3s ease;
}
.menu-item{
    padding-right: 1.5vw;
}
/* boutton commander design */
#menu-item-113{
    padding-right: 0;
    order:3;
}
#menu-item-113 a{
    color: #fff;
    background-color: #e0b9b4;
    height: 8rem;
    width: 23.6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
#menu-item-113 a:hover {
    background-color: #c02e44;
    font-weight: 400;
    transition: all 0.3s ease;
}  /*fin */

#menu-item-111{  /* admin item position */
    order:2;
}
#burger{
    display: none;
}
#burger-label{
    width: 3.2rem;
    height: 3.2rem;
    margin: 2rem;
    background-color: #e0b9b4;
    display: none;
}
#burger-label .bar1,
#burger-label .bar2,
#burger-label .bar3{
    display: block;
    width: 2.2rem;
    height: 0.4rem;
    margin: 0.5rem auto;
    background-color: #c02e44;
    transition: 0.4s;
}
#burger-label:hover{
    opacity: 0.75;
    transition: 0.5s;
}
#burger:checked~ #burger-label .bar1{
    transform: rotate(-45deg) translate(-5px,5px);
    -webkit-transform: rotate(-45deg) translate(-5px,8px);
}
#burger:checked~ #burger-label .bar2{
    opacity: 0;
}
#burger:checked~ #burger-label .bar3{
    transform: rotate(-45deg) translate(-6px,-6px);
    -webkit-transform:rotate(45deg) translate(-5px, -8px);
}

/* responsive */
/* breakpoint tablet: 1025px */
@media screen and (max-width:960px) {
    #header{
        flex-wrap: wrap;
    }
    #branding{
        justify-content: flex-start;
        width: 60%;
    }
    #menu-navbar {
        flex-direction: column;
    }
   
    #menu{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top:11rem;
        background-color: #e3d9d0;
        z-index: 1;
        min-height: 27vh;
    }
    .menu-item{
        height: 4vh;
        padding-top: 2rem;
        width: 24rem;
        text-align: center;
    }
    nav{
        transform: translate(-1120px,0);
        transition: all 0.5s ease;
    }
    #burger-label{
        display: block;
    }
    #burger:checked~nav{
        transform: translate(0px,0);
        transition: all 0.5s ease;
    }
}  /*fin responsive header*/
/* fin header */
/* footer */
#footer {
    height:13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}  /* Fin footer */

/* => Page d'accueil <= */
/* responsive */
/* breakpoint mobile: 782px  */

@media screen and (max-width:782px){
    .block-can-home_top{
        max-width: 60vw;
    }
    h1{
        font-size: 2.5rem;
        padding: 3rem 0;
    }
    .block-name-home__advice{
        justify-content: center;
        max-height: 20vh;
    }
    .block-perfum-home_taste{
        width: 90% !important;
    }
    .block-para-home_text{
        height: 100% !important;
        padding: 0 2rem ;
    }
    .block-title-home_advice{
        font-size: 2.8rem !important;
        padding-bottom: 2rem;
    }
    .block-name-home_advice{
        flex-direction: column;
        width: 77% !important;
        justify-content: center;
        gap: 3vh;
        margin-bottom: 3vh !important;
    }
    .home-advice-name__article{
        padding-bottom: 2rem;
        max-width: 100% !important;
    }
    .wp-block-columns{
        flex-wrap: nowrap !important;
    }
    
}
/* ** fin de responsive ** */
.block-section-home_top{  /* section boisson energisante 100%...*/
    max-height: 110vh;
    margin-bottom: 15px;
}
.block-can-home_top{  /* cannette avec les branches de chaque côté */
    max-height: 48rem;
}
.block-para-home_text{  /*section L'énergie des plantes  */
    font-size: 20px;
    line-height: 24px;
    max-width: 49.7rem;
    height: 12rem;
}
/* section les goûts de la page accueil */
.block-section-home_taste{ /* block */
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.block-perfum-home_taste{ /* 4 img des fruits */
    gap:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* section Ce qu'ils en pensent */
.block-section-home_advice{  /* block */
    min-height: 60vh;
    background-color: #ffffff;
}
.block-title-home_advice{ /*titre de la section */
    margin-top: 9rem;
}
.block-name-home_advice{  /* block 3 P */
    padding-bottom: 5rem;
    margin-bottom: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.home-advice-name__article{
    max-width: 50vw;
}
        /* *** responsive page nous rencontrer *** */
    /* breakpoint mobile: 782px  */
@media screen and (max-width:720px){
    .page-contact-title{
        font-size: 2.3rem;
        margin-top: 11vh;
    }
    .block-contactForm-title{ /*->titre */
        font-size: 2rem !important;
        margin-top: 7vh !important;
    }    
    .contact-items, .contact-message{
        width: 100%;
    }
    .contact-submit{
        margin-top: 7rem !important;
    }
}
        /* fin du responsive */
/* => Page Nous rencontrer <= */
/* section l'équipe */
.block-section-equipe{
    background-color: #ffffff;
}
.block-equipe_title-section{  /* titre de section */
   margin-top: 5rem;
}
.block-top_text{  /* section "Nous rencontrer" */
    margin-bottom: 3rem;
    margin-top: 1rem;
    max-width: 59%;
    line-height: 2.4rem;
}
    /* section 'Nous contacter' */
/* habillage formulaire de contacte -> feuilles*/
.img-contactForm{   /* ->position de l'image */
    position: relative;
    bottom: 18rem;
    left: 1rem;
}
.block-contactForm{
    z-index: 1;
} 
/* ***mise en page du formulaire de contact*** */
.block-contactForm{   /* ->container du formulaire */
    max-width: 38.3rem;
}
.block-contactForm-title{ /*->titre */
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
}
.contact-label{  /*->label */
    font-size: 2rem;
    color: #000000;
}
.contact-items{  /*->input */
    height: 7.1rem;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: none;
}
.contact-message{  /*->textarea*/
    height: 23.7rem;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border: none;
}
.contact-submit{  /*->bouton envoyer*/
    background-color: #e0b9b4;
    color: #ffffff;
    width: 19.8rem;
    height: 5.5rem;
    font-size: 15px;
    border: none;
    line-height: 3.7rem;
}
.contact-submit:hover{
    background-color: #c02e44;
} /*fin bouton envoyer */ 

        /* *** responsive page commander *** */
/* breakpoint tablet: 1025px */
@media screen and (max-width:1025px){
    .block-taste{
        flex-wrap: wrap;
        row-gap: 4rem;
        column-gap: 11rem;
        justify-content: center !important;
        margin-top: 1.5rem;
    }
    .block-order-info{
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 32rem;
    }
    .section-order-vertical-line{  /* ligne de séparation verticale block info  */
        height: 0.1rem !important;
        border-top: #ffffff solid 0.5px;
        width: 44vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
/* breakpoint mobile: 782px  */
@media screen and (max-width:720px){
    .section-order_title{
        margin: auto;
        font-size: 2rem !important;
    }
    .block-order-title{
        font-size: 2.3rem;
    }
    .client-info, .client-delivery{
        width: 100% !important;
    }
    .order-info_label, .block-info{
        width: 100%;
    }
    .order-info_label> span{
        width: 100%;
    }
}
/*  fin responsive page commander */
        /*  ***page commander *** */
.order-form{ /* partie haute du formulaire: votre commande */
    display: flex;
    flex-direction: column;
}
.block-order-title{  /* titre page */
    padding-bottom: 6.9rem;
    padding-top: 6.9rem;
}
.section-order_title{ /* titre */
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.block-taste{  /* block des 4 saveurs */
    display: flex;
    justify-content: space-between;
}
.splitter-line{ /* ligne horizontale de séparation sous le block saveur */
    border-bottom: solid 1px #ffffff;
    padding-bottom: 5rem;
}
.block-taste-col-3{  /* card saveur */
    max-width: 19.3rem;
}
.img-taste{ /* image saveur */
    width: 100%;
    object-fit: contain;
}
.block-taste-col-3 span{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.qt-article{  /* champ de quantité */
    max-width: 3.9rem;
    height: 5.6rem;
    margin: auto;
    border: none;
    border-radius: 1px !important;
    appearance: textfield;
}
.block-order-info{ /* partie informations de livraison */
    display: flex;
}
.block-info{ /*  block informations client x2*/
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.order-info_label{  /*  label */
    display: flex !important;
    flex-direction: column;
    color: #ffffff;
    margin-top: 2rem;
}
.order-info_label> span{
    margin-top: 1.3rem;
}
.client-info, .client-delivery{  /* input */
    width: 38.3rem;
    height: 7.1rem;
}
.section-order-vertical-line{  /* ligne de séparation verticale block info  */
    background-color: #ffffff;
    border-right: #ffffff solid 0.5px;
    height: 44.7rem;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.order-submit{ /* bouton commander */
    margin: auto;
    display: block;
}
/* ***design du bouton commander *** */
.order-btn-design{
    color:#ffffff;
    background-color: #e0b9b4;
    font-size: 1.5rem;
    line-height: 3.7rem;
    width: 19.8rem;
    height: 5.5rem;
    border-radius: 5px;
    border: #e0b9b4;
}
.order-btn-design:hover {
    background-color: #c02e44;
}