@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}
body * {
    box-sizing:border-box;
    font-size: 1.6rem;
    font-family: 'Syne', sans-serif;
}
main{
    background-color: #ece2da;
}
h2{
    font-size: 3.8rem;
    color: #d2776a;
    font-weight: 800;
}
/* header & navbar */
#header, #branding, #menu, #menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header {
    height: 8rem;
    padding: 1vw;
    font-size: 1.9rem;
    background-color: #fff;
}
/* logo et message de description */
#branding {
    width: 30%;
}
#site-title {
    padding-left: 1rem;
}
.custom-logo {
    width: 20vw;
}
#site-description {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Baskervville', serif;
}
/* menu de navigation */
.menu-item a {
    text-decoration: none;
    color: #333333;
    padding: 0, 0.5rem;
    outline: none;
}
.menu-item a:hover{
    font-weight: bold;
}
/* boutton commander design */
#menu-item-113 a{
    color: #fff;
    background-color: #e0b9b4;
    height: 8rem;
    width: 23.6rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
#menu-item-113 a:hover {
    background-color: #c02e44;
    font-weight: 400;
}
/* footer */
#menu-footer-1 {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* responsive */
/* breakpoint tablet: 1025px */
@media screen and (max-width:1025px) {
    
}
/* page Nous rencontrer */
/* section 'Nous contacter' */
.block-contactForm-title{
    margin-top: 3rem;
}
/* habillage formulaire de contacte -> feuilles*/
.img-contactForm{
    position: relative;
    bottom: 18rem;
    left: -7rem;
}
.block-contactForm{
    z-index: 1;
}
/* section l'équipe */
.block-section-equipe{
    background-color: #ffffff;
}
/* titre de section */
.block-equipe_title-section{
   margin-top: 5rem;
}
/* section "Nous rencontrer" */
.block-top_text{
    margin-bottom: 3rem;
    margin-top: 1rem;
    max-width: 59%;
    line-height: 2.4rem;
}