@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}
body * {
    box-sizing:border-box;
    font-size: 1.6rem;
    font-family: 'Syne', sans-serif;
}
main{
    background-color: #ece2da;
}
h1{
    font-size: 3.8rem;
    font-weight: 800;
    color: #3b8e46;
    padding: 7rem;
}
h2{
    font-size: 3rem;
    color: #d2776a;
    font-weight: 800;
}
h3{
    font-size: 3rem;
    color: #3b8e46;
    font-weight: bold;
}
h4{
    font-size: 2rem;
    font-weight: bold; 
}
.btn{
    color:#ffffff;
    background-color: #e0b9b4;
    font-size: 1.5rem;
    line-height: 3.7rem;
    width: 19.8rem;
    height: 5.5rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: #c02e44;
}
/* header & navbar */
#header, #branding, #menu, #menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header {
    height: 8rem;
    padding-left: 1vw;
    font-size: 1.9rem;
    background-color: #fff;
}
/* logo et message de description */
#branding {
    width: 30%;
}
#site-title {
    padding-left: 1rem;
}
.custom-logo {
    width: 20vw;
}
#site-description {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Baskervville', serif;
}
/* menu de navigation */
.menu-item a {
    text-decoration: none;
    color: #333333;
    padding: 0, 0.5rem;
    outline: none;
}
.menu-item a:hover{
    font-weight: bold;
}
/* boutton commander design */
#menu-item-113{
    padding-right: 0;
}
#menu-item-113 a{
    color: #fff;
    background-color: #e0b9b4;
    height: 8rem;
    width: 23.6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
#menu-item-113 a:hover {
    background-color: #c02e44;
    font-weight: 400;
}
.menu-item{
    padding-right: 1.5vw;
}
/* footer */
#footer {
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* responsive */
/* breakpoint tablet: 1025px */
@media screen and (max-width:1025px) {
    
}
/* => Page d'accueil <= */
.block-section-home_top{
    height: 110vh;
}
.block-can-home_top{
    max-height: 48rem;
}
/* .block-section-home_text{

} */
.block-para-home_text{
    font-size: 20px;
    line-height: 24px;
    max-width: 49.7rem;
    height: 12rem;
}
/* section les goûts de la page accueil */
.block-section-home_taste{
    margin-bottom: 2rem;
   margin-top: 5rem;
}
.block-perfum-home_taste{
    gap:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.block-section-home_advice{
    min-height: 60vh;
    background-color: #ffffff;
}
.block-title-home_advice{
    margin-top: 9rem;
}
.block-name-home_advice{
    padding-bottom: 5rem;
    margin-bottom: 10rem;
}
/* => Page Nous rencontrer <= */

/* section l'équipe */
.block-section-equipe{
    background-color: #ffffff;
}
/* titre de section */
.block-equipe_title-section{
   margin-top: 5rem;
}
/* section "Nous rencontrer" */
.block-top_text{
    margin-bottom: 3rem;
    margin-top: 1rem;
    max-width: 59%;
    line-height: 2.4rem;
}
/* section 'Nous contacter' */
/* habillage formulaire de contacte -> feuilles*/
.img-contactForm{   /* ->position de l'image */
    position: relative;
    bottom: 18rem;
    left: 1rem;
}
.block-contactForm{
    z-index: 1;
}
/* mise en page du formulaire de contact */
.block-contactForm{   /* ->container du formulaire */
    max-width: 38.3rem;
}
.block-contactForm-title{ /*->titre */
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
}
.contact-label{  /*->label */
    font-size: 2rem;
    color: #000000;
}
.contact-items{  /*->input */
    height: 7.1rem;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.contact-message{  /*->textarea*/
    height: 23.7rem;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.04);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.contact-submit{  /*->bouton envoyer*/
    background-color: #e0b9b4;
    width: 19.8rem;
    height: 5.5rem;
    font-size: 15px;
}
.contact-submit:hover{
    background-color: #c02e44;
}